@model IEnumerable<DienThoai.Models.Hang>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách hãng</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên hãng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HangID">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.HangID">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.HangID">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
